body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
.container{
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    background-color: royalblue;
}
.boxred{
    background-color: darkorange;
    border: 1px solid black;
}